@use "sass:color";
@use "sass:string";
@use "sass:math";
@use "qt";

@font-face {
  font-family: "M+mini 1c regular";
  src: url("mplusmini-1c-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "M+mini 1p medium";
  src: url("mplusmini-1p-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "M+mini 1p heavy";
  src: url("mplusmini-1p-heavy-webfont.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "M+mini 1m regular";
  src: url("mplusmini-1m-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@import url("https://fonts.bunny.net/css2?family=M+PLUS+1:wght@400;500;800&display=swap");

@function encode-color($color) {
  @return "%23"+string.unquote(string.slice(color.ie-hex-str($color), 4));
}

@mixin theme($window1,
  $window2,
  $outside-area,
  $inactive-tab1,
  $inactive-tab2,
  $control-frame,
  $scrollbar1,
  $scrollbar2,
  $focus-frame,

  $normal-text,
  $normal-back1,
  $normal-back2,
  $selected-text,
  $selected-back,
  $selected-ed-text,
  $selected-ed-back,
  $disabled-text,
  $hyperlink-text,

  $button1,
  $button2,
  $pressed-button-text,
  $hot-button1,
  $hot-button2,
  $hot-button-text,
  $twinkling-btn1,
  $twinkling-btn2,
  $group-box1,
  $group-box2,
  $group-box-frame,
  $deluxe-label1,
  $deluxe-label2,
  $deluxe-label-text,

  $highlight,
  $work-area,
  $check-mark,
  $drop-target,
  $progress-bar,

  $arrow-color,

  $is-dark-mode,
) {
  --window1: #{$window1};
  --window2: #{$window2};
  --outside-area: #{$outside-area};
  --inactive-tab1: #{$inactive-tab1};
  --inactive-tab2: #{$inactive-tab2};
  --control-frame: #{$control-frame};
  --toolbar1-150: #{qt.lighter($window1, 1.5)};
  --toolbar2-150: #{qt.darker($window2, 1.5)};
  --scrollbar1: #{$scrollbar1};
  --scrollbar2: #{$scrollbar2};
  --pressed-scrollbar1: #{color.scale($scrollbar1, $alpha: -30%)};
  --pressed-scrollbar-control-frame: #{color.mix($scrollbar2, $control-frame, 30%)};
  --focus-frame: 2px solid #{$focus-frame};

  --normal-text: #{$normal-text};
  --normal-text-70: #{color.scale($normal-text, $alpha: -30%)};
  --normal-text-50: #{color.scale($normal-text, $alpha: -50%)};
  --normal-back1: #{$normal-back1};
  --normal-back2: #{$normal-back2};
  // visible: PaletteSingleton.normalBack1 == PaletteSingleton.normalBack2
  --list-box-row-underline: #{if($normal-back1 == $normal-back2, $normal-text, transparent)};
  --selected-text: #{$selected-text};
  --selected-back: #{$selected-back};
  --selected-back-130: #{qt.lighter($selected-back, 1.3)};
  --selected-ed-text: var(--normal-text);
  --selected-ed-back: #{$selected-ed-back};
  --disabled-text: #{$disabled-text};
  // data.disabledOpacity is solely for double dimming of button labels. Hence we multiply the alpha components here.
  --disabled-text-50: #{color.scale($disabled-text, $alpha: -50%)};
  --disabled-text-38: #{color.scale($disabled-text, $alpha: -62.5%)};
  --hyperlink-text: #{$hyperlink-text};

  --button1: #{$button1};
  --button2: #{$button2};
  --button: padding-box linear-gradient(var(--button1), var(--button2));
  --pressed-button1: var(--button2);
  --pressed-button2: var(--button1);
  --pressed-button: padding-box linear-gradient(var(--pressed-button1), var(--pressed-button2));
  --pressed-button-text: var(--normal-text);
  --hot-button1: #{$hot-button1};
  --hot-button2: #{$hot-button2};
  --hot-button: padding-box linear-gradient(var(--hot-button1), var(--hot-button2));
  --hot-button-text: var(--normal-text);
  // twinklingBtn1 and twinklingBtn2 are only applied to the default button, where the opacity of the Rectangle is 0.5. Hence we include the alpha component here.
  --twinkling-btn1: #{color.scale($twinkling-btn1, $alpha: -50%)};
  --twinkling-btn2: #{color.scale($twinkling-btn2, $alpha: -50%)};
  --twinkling-btn: padding-box linear-gradient(var(--twinkling-btn1), var(--twinkling-btn2));
  --group-box1: #{$group-box1};
  --group-box2: #{$group-box2};
  --group-box-frame: #{$group-box-frame};
  --deluxe-label1: #{$deluxe-label1};
  --deluxe-label2: #{$deluxe-label2};
  --deluxe-label-text: #{$deluxe-label-text};

  --highlight: #{$highlight};
  --work-area: #{$work-area};
  --check-mark: #{$check-mark};
  --drop-target: #{$drop-target};
  --progress-bar: #{$progress-bar};
  // GradientStop { color: Qt.lighter(root.color, 1.3); position: 0 }
  --progress-bar1: #{qt.lighter($progress-bar, 1.3)};
  // border.color: Qt.darker(root.color, 1.2)
  --progress-bar-frame: #{qt.darker($progress-bar, 1.2)};

  // The PNG resources are solid. To mitigate difficulties in scrollbar styling, the opacity is baked into the following SVG data. An opacity: 0.7 multiplied with fill-opacity='0.7' will approximately give the desired opacity of 0.5 in disabled cases.
  --arrow-left-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7'%3E%3Cpath d='M 0 3.5 l 3.5 -3.5 v 7 z' fill='#{encode-color($arrow-color)}' fill-opacity='0.7' /%3E%3C/svg%3E");
  --arrow-right-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7'%3E%3Cpath d='M 0 0 l 3.5 3.5 l -3.5 3.5 z' fill='#{encode-color($arrow-color)}' fill-opacity='0.7' /%3E%3C/svg%3E");
  --arrow-up-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='4'%3E%3Cpath d='M 3.5 0 l 3.5 3.5 h -7 z' fill='#{encode-color($arrow-color)}' fill-opacity='0.7' /%3E%3C/svg%3E");
  --arrow-down-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='4'%3E%3Cpath d='M 0 0 h 7 l -3.5 3.5 z' fill='#{encode-color($arrow-color)}' fill-opacity='0.7' /%3E%3C/svg%3E");

  color-scheme: if($is-dark-mode, dark, light);
}

@mixin themed-root($class, $media) {
  :root.#{$class} {
    @content;
  }

  @media #{$media} {
    :root {
      @content;
    }
  }
}

@include themed-root(light, "all") {
  $window2: #d0dbe8;
  $control-frame: qt.darker($window2, 1.7);
  $deluxe-label1: #0050a0;
  @include theme($is-dark-mode: false,

    $window1: qt.lighter($window2, 1.1),
    $window2: $window2,
    $outside-area: qt.darker($window2, 1.2),
    $inactive-tab1: qt.darker($window2, 1.1),
    $inactive-tab2: qt.darker($window2, 1.2),
    $control-frame: $control-frame,
    $scrollbar1: qt.darker($window2, 1.1),
    $scrollbar2: $window2,
    $focus-frame: #648cb4,

    $normal-text: #000000,
    $normal-back1: #ffffff,
    $normal-back2: #e4ecf2,
    $selected-text: #ffffff,
    $selected-back: #0064c8,
    $selected-ed-text: var(--normal-text),
    $selected-ed-back: #bbddff,
    $hyperlink-text: #0000ff,
    $disabled-text: #00000080,
    $button1: #eef6fc,
    $button2: #aeb6bc,
    $pressed-button-text: var(--normal-text),
    $hot-button1: #ffffff,
    $hot-button2: #c0e0ff,
    $hot-button-text: var(--normal-text),
    $twinkling-btn1: qt.lighter(#38d, 1.8),
    $twinkling-btn2: qt.lighter(#38d, 1.5),
    $group-box1: #90b0d060,
    $group-box2: #7090b060,
    $group-box-frame: #ffffff,
    $deluxe-label1: #{$deluxe-label1},
    $deluxe-label2: #{qt.lighter($deluxe-label1, 1.2)},
    $deluxe-label-text: #ffffff,

    $highlight: #ffffff80,
    $work-area: #224488,
    $check-mark: #4466aa,
    $drop-target: #ffee60,
    $progress-bar: #4499dd,

    $arrow-color: black,
  );

  --exp-curve-color1: #13920D;
  --exp-curve-color2: #DE5C2F;

  --event-indigo: indigo;
  --event-green: green;
  --event-blue: blue;
  --event-red: red;
  --event-darkorange: darkorange;
  --event-magenta: magenta;
  --event-maroon: maroon;
  --event-olive: olive;
  --event-crimson: crimson;
  --event-purple: purple;
  --event-teal: teal;
  --event-deeppink: deeppink;
  --event-dodgerblue: dodgerblue;
  --event-darkviolet: darkviolet;
  --event-gray: gray;
  --event-navy: navy;
  --event-slategray: slategray;

  --local-font: sans-serif;
  --fixed-font: "M+mini 1m regular", "M+ 1m regular", var(--local-font);
  --normal-font: "M+mini 1c regular", "M+ 1c regular", var(--local-font);
  --medium-font: "M+mini 1p medium", "M+ 1p medium", var(--local-font);
  --heavy-font: "M+mini 1p heavy", "M+ 1p heavy", var(--local-font);
  --symbol-font: "M+mini 1p heavy"; // for CheckBox
  --font-size: 14px;
  --label-font-size: 13px;
  --control-height: 27px;
}

@include themed-root(dark, "(prefers-color-scheme: dark)") {
  @include theme($is-dark-mode: true,

    $window1: #474b4d,
    $window2: #2f3335,
    $outside-area: #181819,
    $inactive-tab1: #373b3d,
    $inactive-tab2: #1f2325,
    $control-frame: #111618,
    $scrollbar1: #515658,
    $scrollbar2: #616668,
    $focus-frame: #4e78a1,

    $normal-text: #cccccc,
    $normal-back1: #25282a,
    $normal-back2: #2c2f31,
    $selected-text: #cccccc,
    $selected-back: #4b6eaf,
    $selected-ed-text: var(--normal-text),
    $selected-ed-back: #4b6eaf,
    $disabled-text: #777777,
    $hyperlink-text: #0099ff,

    $button1: #616668,
    $button2: #54595b,
    $pressed-button-text: var(--normal-text),
    $hot-button1: #717678,
    $hot-button2: #64696b,
    $hot-button-text: var(--normal-text),
    $twinkling-btn1: #173e70,
    $twinkling-btn2: #082147,
    $group-box1: #ffffff18,
    $group-box2: #ffffff10,
    $group-box-frame: #202020,
    $deluxe-label1: #272b2d,
    $deluxe-label2: #0f1315,
    $deluxe-label-text: #dddddd,

    $highlight: #51555780,
    $work-area: #224488,
    $check-mark: #aaaaaa,
    $drop-target: #456ea6,
    $progress-bar: #4499dd,

    $arrow-color: white,
  );

  --exp-curve-color1: #1AC011;
  --exp-curve-color2: #ECA188;

  --event-indigo: #DFBFFF;
  --event-green: #00DF00;
  --event-blue: #5394EC;
  --event-red: #FF8785;
  --event-darkorange: #FF8C00;
  --event-magenta: #FFBFFF;
  --event-maroon: #BF7070;
  --event-olive: #D6BF55;
  --event-crimson: #FF6B68;
  --event-purple: #DC56DF;
  --event-teal: #BFFFFF;
  --event-deeppink: #FFBFE2;
  --event-dodgerblue: #B0C9EB;
  --event-darkviolet: #C19DD1;
  --event-gray: #AAAAAA;
  --event-navy: #BFBFFF;
  --event-slategray: #9BB6CF;
}

@include themed-root(high-contrast-dark, "(prefers-contrast: more)") {
  @include theme($is-dark-mode: true,

    $window1: #000000,
    $window2: #000000,
    $outside-area: #000000,
    $inactive-tab1: #000000,
    $inactive-tab2: #000000,
    $control-frame: #ffffff,
    $scrollbar1: #000000,
    $scrollbar2: #000000,
    $focus-frame: #ffff00,

    $normal-text: #ffffff,
    $normal-back1: #000000,
    $normal-back2: #000000,
    $selected-text: #000000,
    $selected-back: #1AEBFF,
    $selected-ed-text: #000000,
    $selected-ed-back: #1AEBFF,
    $disabled-text: #00FF00,
    $hyperlink-text: #00ffff,

    $button1: #000000,
    $button2: #000000,
    $pressed-button-text: #000000,
    $hot-button1: #1AEBFF,
    $hot-button2: #1AEBFF,
    $hot-button-text: #000000,
    $twinkling-btn1: #1AEBFF80,
    $twinkling-btn2: #1AEBFF80,
    $group-box1: #000000,
    $group-box2: #000000,
    $group-box-frame: #ffffff,
    $deluxe-label1: #000000,
    $deluxe-label2: #000000,
    $deluxe-label-text: #ffffff,

    $highlight: #ffffff80,
    $work-area: #224488,
    $check-mark: #FFFFFF,
    $drop-target: #1AEBFF,
    $progress-bar: #1AEBFF,

    $arrow-color: white,
  );

  --exp-curve-color1: #00FF00;
  --exp-curve-color2: #FF8000;

  --event-indigo: #FF58FF;
  --event-green: #00FF00;
  --event-blue: #00CFFF;
  --event-red: #FF8080;
  --event-darkorange: #FF8000;
  --event-magenta: #FF58FF;
  --event-maroon: #FF8080;
  --event-olive: #FFFF00;
  --event-crimson: #E78386;
  --event-purple: #FF58FF;
  --event-teal: #00FFFF;
  --event-deeppink: #FF80C0;
  --event-dodgerblue: #00FFFF;
  --event-darkviolet: #D935FF;
  --event-gray: #AAAAAA;
  --event-navy: #00FFFF;
  --event-slategray: #FFFFFF;
}

@include themed-root(high-contrast-light, "(prefers-contrast: more) and (prefers-color-scheme: light)") {
  @include theme($is-dark-mode: false,

    $window1: #FFFFFF,
    $window2: #FFFFFF,
    $outside-area: #FFFFFF,
    $inactive-tab1: #FFFFFF,
    $inactive-tab2: #FFFFFF,
    $control-frame: #000000,
    $scrollbar1: #FFFFFF,
    $scrollbar2: #FFFFFF,
    $focus-frame: #00009F,

    $normal-text: #000000,
    $normal-back1: #FFFFFF,
    $normal-back2: #FFFFFF,
    $selected-text: #FFFFFF,
    $selected-back: #37006E,
    $selected-ed-text: #FFFFFF,
    $selected-ed-back: #37006E,
    $disabled-text: #800000,
    $hyperlink-text: #0000ff,

    $button1: #FFFFFF,
    $button2: #FFFFFF,
    $pressed-button-text: #FFFFFF,
    $hot-button1: #37006E,
    $hot-button2: #37006E,
    $hot-button-text: #FFFFFF,
    $twinkling-btn1: #37006E80,
    $twinkling-btn2: #37006E80,
    $group-box1: #FFFFFF,
    $group-box2: #FFFFFF,
    $group-box-frame: #000000,
    $deluxe-label1: #FFFFFF,
    $deluxe-label2: #FFFFFF,
    $deluxe-label-text: #000000,

    $highlight: #00000080,
    $work-area: #224488,
    $check-mark: #000000,
    $drop-target: #37006E,
    $progress-bar: #37006E,

    $arrow-color: black,
  );
}

:root {
  line-height: 1.2;
  color: var(--normal-text);
  font-family: var(--normal-font);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin round-frame {
  border: 2px solid var(--control-frame);
  border-radius: 8px;
  opacity: 0.8;
}

@mixin thick-frame {
  box-shadow:
    inset 0 0 0 1px black,
    inset 0 0 0 3px white,
    inset 0 0 0 4px black;
}

@mixin checkerboard($light-color: navy) {
  $dark-color: rgb(color.red($light-color) - 0.138 * 255 - math.min(math.max(0, 0.888 * 255 - color.red($light-color)), 0.112 * 255),
      color.green($light-color) - 0.138 * 255 - math.min(math.max(0, 0.888 * 255 - color.green($light-color)), 0.112 * 255),
      color.blue($light-color) - 0.138 * 255 - math.min(math.max(0, 0.888 * 255 - color.blue($light-color)), 0.112 * 255));
  background:
    repeating-conic-gradient($light-color 0 .25turn, transparent 0 .5turn) 0 0 / 32px 32px,
    $dark-color;
}


:focus {
  outline: var(--focus-frame);
}

::selection {
  background-color: var(--selected-ed-back);
  color: var(--selected-ed-text);
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid var(--control-frame);
}

::-webkit-scrollbar-track:vertical {
  border-left: 1px solid var(--control-frame);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar2);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 2px 1px 1px 1px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 1px 1px 2px;
}

::-webkit-scrollbar-thumb {
  border-style: solid;
  border-color: transparent;
  box-shadow:
    inset 0 0 0 1px var(--control-frame),
    inset 0 0 0 8px var(--scrollbar1);
}

::-webkit-scrollbar-thumb:active {
  box-shadow:
    inset 0 0 0 1px var(--pressed-scrollbar-control-frame),
    inset 0 0 0 8px var(--pressed-scrollbar1);
}

::-webkit-scrollbar-button:horizontal:start {
  border-left-width: 0;
}

::-webkit-scrollbar-button:vertical:start {
  border-top-width: 0;
}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-button:vertical:end {
  border-bottom-width: 0;
}

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-button:horizontal:end {
  border-right-width: 0;
}

::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  border: 1px solid var(--control-frame);
  box-shadow: inset 0 0 0 1px var(--highlight);
}

::-webkit-scrollbar-button:horizontal:decrement {
  background:
    var(--arrow-left-image) center no-repeat,
    linear-gradient(var(--button1), var(--button2));
}

::-webkit-scrollbar-button:horizontal:decrement:active {
  background:
    var(--arrow-left-image) center no-repeat,
    linear-gradient(var(--pressed-button1), var(--pressed-button2));
}

::-webkit-scrollbar-button:horizontal:increment {
  background:
    var(--arrow-right-image) center no-repeat,
    linear-gradient(var(--button1), var(--button2));
}

::-webkit-scrollbar-button:horizontal:increment:active {
  background:
    var(--arrow-right-image) center no-repeat,
    linear-gradient(var(--pressed-button1), var(--pressed-button2));
}

::-webkit-scrollbar-button:vertical:decrement {
  background:
    var(--arrow-up-image) center no-repeat,
    linear-gradient(var(--button1), var(--button2));
}

::-webkit-scrollbar-button:vertical:decrement:active {
  background:
    var(--arrow-up-image) center no-repeat,
    linear-gradient(var(--pressed-button1), var(--pressed-button2));
}

::-webkit-scrollbar-button:vertical:increment {
  background:
    var(--arrow-down-image) center no-repeat,
    linear-gradient(var(--button1), var(--button2));
}

::-webkit-scrollbar-button:vertical:increment:active {
  background:
    var(--arrow-down-image) center no-repeat,
    linear-gradient(var(--pressed-button1), var(--pressed-button2));
}

::-webkit-scrollbar-button:active {
  background-image: linear-gradient(var(--pressed-button1), var(--pressed-button2));
}

::-webkit-scrollbar-corner {
  border: solid var(--control-frame);
  border-width: 1px 0 0 1px;
  background-color: var(--outside-area);
}

// <hr> models DialogSeparator.
hr {
  margin: 8px auto;
  border-top: 1px solid #00000040;
  border-bottom: 1px solid var(--highlight);
}

label {
  color: var(--normal-text);
  font-family: var(--medium-font);
  font-size: var(--label-font-size);
  line-height: calc(var(--label-font-size) + 6px);
  gap: 0 16px;

  &:not(.vbox) {
    align-items: center;
  }

  &:has(>input[type="radio" i], >input[type="checkbox" i]) {
    column-gap: 5px;
  }

  :disabled & {
    color: var(--disabled-text);
  }
}

.indent {
  margin-left: 20px;
}

// The transparent border is for correct sizing, which in turn gives correct hit test areas.
// Non-interactive components, on the other hand, may find having a container element being a more natural approach.
button {
  width: 90px;
  height: var(--control-height);
  font-family: var(--medium-font);
  font-size: var(--font-size);
  border: 2px solid transparent;
  outline: 1px solid var(--control-frame);
  outline-offset: -2px;
  background: var(--arrow-image), var(--button);
  --arrow-image: none;
  --arrow-image-color: var(--normal-text-70);
  text-align: center;
  // anchors.verticalCenter: parent.verticalCenter
  line-height: calc(var(--control-height) - 4px);
  color: var(--normal-text);
  // anchors.margins: 1; radius: 2.5
  border-radius: 3.5px;
  box-shadow: inset 0 0 0 1px var(--highlight);
}

button>img:first-child {
  margin-right: 2px;
  vertical-align: middle;
}

button:focus {
  background: var(--arrow-image), var(--twinkling-btn), var(--button);
  // Subtlety. Only the focus ring should get a radius of 2px, not the button itself. Does not make much difference, though.
  // To compensate for the button border, which should still be (barely) visible under the focus ring, another pixel of rounded corners is added.
  border-radius: 3px;
}

button:enabled:hover {
  background: var(--arrow-image), var(--hot-button);
  color: var(--hot-button-text);
}

button:enabled:active {
  background: var(--arrow-image), var(--pressed-button);
  color: var(--pressed-button-text);
}

button:focus:hover {
  background: var(--arrow-image), var(--twinkling-btn), var(--hot-button);
}

button:focus:active {
  background: var(--arrow-image), var(--twinkling-btn), var(--pressed-button);
}

button:disabled {
  background: var(--arrow-image), padding-box var(--window2);
  color: var(--disabled-text-50);
  --arrow-image-color: var(--normal-text-50);
}

button.ellipsis {
  --arrow-image: right 6px center / 10px 2px no-repeat repeating-linear-gradient(to right, var(--arrow-image-color) 0 2px, transparent 0 4px);
  text-align: left;
  padding-left: 4px;
  padding-right: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--fixed-font);
}

button.ellipsis:disabled {
  color: transparent;
}

input[type="radio" i],
input[type="checkbox" i] {
  appearance: none;
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px var(--normal-back1);
  border: 1px solid var(--control-frame);
  outline-offset: -2px;
  background: linear-gradient(var(--normal-back2), var(--normal-back1));

  &:checked::after {
    opacity: 1;
  }

  &:disabled:checked::after,
  &:enabled:active::after {
    opacity: .5;
  }

  &:disabled {
    background: var(--window2);
  }

  label:active>&:enabled {
    outline: var(--focus-frame);

    // [Workaround] While the HTML spec says that :active <label> should trigger :active <input>, Chrome sometimes has problems with checkboxes and radios.
    &::after {
      opacity: .5;
    }
  }
}

input[type="radio" i] {
  width: 18px;
  height: 18px;
  transform: translate(-.5px, -.5px);
  border-radius: 50%;

  &::after {
    content: "";
    display: block;
    background: radial-gradient(var(--check-mark) 4.5px, transparent 5.5px);
    height: 100%;
    opacity: 0;
  }
}

input[type="checkbox" i] {
  width: 17px;
  height: 17px;
  margin: 0 1px 1px 0;
  border-radius: 2px;

  &::after {
    display: block;
    // anchors.centerIn: parent
    text-align: center;
    // anchors.verticalCenterOffset: 1
    line-height: 17px;
    // text: "\u2714"  // HEAVY CHECK MARK
    content: "\2714";
    font-family: var(--symbol-font);
    font-size: 15px;
    font-weight: bold;
    color: var(--check-mark);
    opacity: 0;
  }
}

dialog {
  background: linear-gradient(var(--window1), var(--window2));
  border: 1px solid var(--control-frame);
  color: var(--normal-text);
  margin: auto;
  user-select: auto;
}

fieldset {
  position: relative;
  padding: 26px 10px 8px;
  border-radius: 6px;
  border: 1px solid var(--group-box-frame);
  background-image: linear-gradient(var(--group-box1), var(--group-box2));
}

legend {
  // fieldset>legend is special-cased in styling and cannot be overridden. Our best bet is to throw the legend out of the flow.
  position: absolute;
  // Set the padding so that tooltips are shown even if the cursor was a bit off.
  // width: text.paintedWidth + 12
  padding-right: 12px;
  // height: text.paintedHeight + 6
  padding-bottom: 6px;
  // anchors.topMargin: 4
  top: 3px;
  // anchors.leftMargin: 6
  left: 5px;
  color: var(--normal-text);
  font-family: var(--heavy-font);
  font-weight: bold;
  font-size: var(--font-size);

  :disabled & {
    color: var(--disabled-text);
  }
}

// (for status bar)
.toolbar {
  /* The real height is larger than the nominated 16px. */
  height: 24px;
  background: linear-gradient(var(--window1), var(--window2));
  color: var(--normal-text);
  font-family: var(--fixed-font);
  font-size: var(--font-size);
  line-height: 24px;
  /* The padding is measured; not sure where it comes from. */
  padding: 0 3px;

  >hr {
    flex: 0;
    margin: 2px 5px;
    border: 0;
    border-left: 1px solid var(--toolbar2-150);
    border-right: 1px solid var(--toolbar1-150);
  }
}

.status-bar {
  @extend .toolbar;
}

.progress-bar {
  width: 198px;
  height: 22px;
  margin: 1px;
  background-color: var(--normal-back1);
  box-shadow: inset 0 0 0 1px var(--control-frame);

  >* {
    border-radius: 2px;
    background-image: linear-gradient(var(--progress-bar1), var(--progress-bar) 140%);
    border: 1px solid var(--progress-bar-frame);
    // Not sure about what it's for, but this thin line does show up.
    box-shadow: inset -4px 0 0 -3px rgb(255 255 255 / 0.1);
  }
}

// Theme-specific components.

.deluxe-label {
  display: block;
  width: 200px;
  height: 37px;
  overflow: hidden;
  background: linear-gradient(var(--deluxe-label1), var(--deluxe-label2));
  border: 1px solid var(--deluxe-label2);
  border-radius: 2px;
  text-align: center;
  // verticalAlignment: Text.AlignVCenter
  line-height: 35px;
  color: var(--deluxe-label-text);
  font-family: var(--heavy-font);
  font-weight: bold;
  font-size: 22px;

  :disabled & {
    // Subtlety. The background and the text are in separate alpha groups. I have never seen a DeluxeLabel disabled anyway…
    opacity: 0.5;
  }
}
