@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("InterVariable.woff2") format("woff2");
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("InterVariable-Italic.woff2") format("woff2");
}

:root {
	font: 12px/1.3333333333 "Inter", sans-serif;
	font-optical-sizing: auto;
	font-feature-settings: "liga", "calt", "cv01", "cv10", "ss03";
	background-color: azure;
}

:any-link {
	color: deepskyblue;

	&:active {
		color: steelblue;
	}
}

:focus {
	outline: 2px solid darkslategray;
	outline-offset: -2px;
}

::selection {
	background-color: darkslategray;
	color: white;
}

input[type="text" i] {
	border: 2px inset skyblue;
}

.list-view {
	>table {
		border: 2px inset skyblue;
	}

	>table>thead>tr>th {
		border: 2px outset skyblue;
		background: powderblue;

		&:active {
			border-style: inset;
		}
	}

	>table>tbody>tr>td {
		padding: 2px;
	}
}
